{{ define "main" }}
  <p>
    "Ei saa aru" on podcast inimeseks olemisest ja tehnoloogiast. Proovime koos
    aru saada, kuidas toimivad inimsuhted, kosmosetehnika, muusika, teadvus,
    jalgrattad, emotsioonid, ühiskond, tehisintellekt, laste kasvatamine,
    krüptoraha, jne.
  </p>
  <p>
    Lisa meid oma podcasti äpis:<br>
    <ul>
      <li><a href="https://itunes.apple.com/us/podcast/ei-saa-aru/id1424289028"><img class="banner" src="{{ absURL "images/apple-podcasts-x40.png" }}" alt="Listen on Apple Podcast"/></a>
      <li><a href="https://open.spotify.com/show/6wSMEMko0DorsAqGtZiySb"><img class="banner" src="{{ absURL "images/spotify-podcast-badge-blk-grn-165x40.png" }}" alt="Listen on Spotify"/></a>
      <li>Või lisa otse <a href="index.xml">RSS</a> ehk <span class="pre">{{ absURL "index.xml" }}</span>.
    </ul>
  <p>
  <p>
    Kui sa ka ei saa millestki aru, siis anna aga teada:<br>
    <ul>
      <li>eisaaaru@eisaaaru.ee
      <li><a href="https://fb.com/eisaaaru">fb.com/eisaaaru</a>
    </ul>
  </p>
  </p>
    Hiljutised osad:
  </p>
  {{ range first 10 .Site.Pages }}
    {{ if .Params.Audio }}
      <div class="episode-title">
        {{ .Title }} <i>{{ .Date.Format "Mon, 02 Jan 2006" | safeHTML }}</i>
      </div>
      <div class="player">
        <audio controls preload="metadata">
          <source src="{{ absURL "audio" }}/{{ .Params.Audio }}" type="audio/mpeg">
        </audio>
      </div>
      <div class="episode-content">
        {{- .Content -}}
      </div>
    {{ end }}
  {{ end }}
  {{ range after 10 .Site.Pages }}
    {{ if .Params.Audio }}
      <div class="episode-title">
        "<a href="{{ .Permalink }}">{{ .Title }}</a>", <i>{{ .Date.Format "Mon, 02 Jan 2006" | safeHTML }}</i>
      </div>
    {{ end }}
  {{ end }}
{{ end }}
